@include media-breakpoint-up(sm) {
  .modal-dialog {
    @include scale((
      max-width: $modal-md,
      margin-top: $modal-dialog-margin-y-sm-up,
      margin-bottom: $modal-dialog-margin-y-sm-up,
    ));
  }

  .modal-sm {
    @include scale((
      max-width: $modal-sm,
    ));
  }

}

@include media-breakpoint-up(lg) {
  .modal-lg {
    @include scale((
      max-width: $modal-lg,
    ));
  }
}
