.swap-header {
  z-index: 2;
	top: 0;

	width: 100%;

  transition: position 0.3s ease;

  background: #510ed8;
	background: linear-gradient(to right, #510ed8 0%,#510ed8 70%,#8821ee 100%);
  // position: sticky;

  font-family: CerebriSans,sans-serif;

  &__container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: space-around;

    max-width: 1200px;
    margin: 0 auto;
    min-height: 88px;
    padding: 5px 24px;

    @include bp-up(lg) {
      justify-content: flex-start;
    }
  }
}

.swap-nav {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;

  min-width: 0;

  list-style: none;

  @include bp-up(lg) {
    padding-left: 50px;
    margin: 0 -12.5px;
  }

  &__link {
    display: inline-block;

    cursor: pointer;
    text-decoration: none;

    color: #dccef7;

    font-size: 18px;
    font-weight: 500;
    margin: 0 12.5px;

    &:hover {
      text-decoration: none;

      color: #fff;
    }

    &--active {
      color: #fff;
      border-bottom: 2px solid #fff;

      font-weight: 700;
    }
  }
}
