.jumbotron {
  overflow: hidden;

  background-image: linear-gradient(333deg, lighten(theme-color(), 5%), theme-color());

  @include scale((
    padding-bottom: 110px,
    min-height: 968px,
  ));

  @include bp-up(lg) {
    background-image: url('../assets/imgs/jumbotron-bg-main-part.png'), url('../assets/imgs/jumbotron-bg-subpart.png');
    background-repeat: no-repeat;
    background-position: 33% 0, 100% 100%;
  }

  @include scale((
    background-size: (2472px, 122px),
  ), false);

  &__block {
    &--about {
      padding-top: spacer(4);

      @include scale((
        // padding-top: 155px,
        padding-top: 65px,
      ), false);

      @include bp-up(2xl) {
        padding-top: 155px;
      }
    }

    &--windows {
      position: relative;

      height: 100%;

      display: none;

      @include bp-up(lg) {
        display: block;
      }

      @include scale((
        // padding-top: 90px,
        padding-top: 0,
      ), false);

      @include bp-up(2xl) {
        padding-top: 90px;
      }

      img {
        display: block;
        margin: 0 auto;

        @include scale((
          width: 533.25px,
          height: 408px,
        ));
      }
    }

    &--download {
      margin-top: spacer(6);

      text-align: center;

      @include scale((
        // margin-top: 165px,
        margin-top: 65px,
      ), false);

      @include bp-up(2xl) {
        margin-top: 165px;
      }
    }
  }

  &__heading {
    @include scale((
      margin-bottom: 50px,
    ));

    @include scale((
      max-width: 590px,
    ), false);
  }

  &__download {
    @include scale((
      width: 350px,
      padding-top: 24px,
      padding-bottom: 24px,
      font-size: $font-size-lg,
    ));
  }

  &__features {
    margin: 0;
    padding: 0;

    list-style: none;

    li {
      position: relative;

      color: $white;

      @include scale((
        padding-left: 28px,
        font-size: $font-size-lg,
      ));

      &:before {
        position: absolute;
        left: 0;

        display: block;

        content: '';

        border-radius: 100%;
        background-color: $white;

        @include scale((
          top: 6px,
          width: 10px,
          height: 10px,
        ));
      }

      &:not(:last-child) {
        @include scale((
          margin-bottom: spacer(3),
        ));
      }
    }
  }
}
