.jumbotron {
  overflow: hidden;

  background-image: linear-gradient(333deg, lighten(theme-color(), 5%), theme-color());

  @include scale((
    padding-bottom: 110px,
  ));

  @include scale((
    min-height: 968px,
  ), false);

  @include bp-up(lg) {
    @media (max-height: 968px * map-get($scales-up, lg)) {
      min-height: 100% *  map-get($scales-up, lg);
    }
  }
  @include bp-up(xl) {
    @media (max-height: 968px * map-get($scales-up, xl)) {
      min-height: 100% *  map-get($scales-up, xl);
    }
  }
  @include bp-up(2xl) {
    @media (max-height: 968px * map-get($scales-up, 2xl)) {
      min-height: 100% *  map-get($scales-up, 2xl);
    }
  }

  @include bp-up(lg) {
    background-image: url('../assets/imgs/jumbotron-bg-main-part.png'), url('../assets/imgs/jumbotron-bg-subpart.png');
    background-repeat: no-repeat;
    background-position: 33% 0%, 100% 100%;

    @media (max-height: 968px * map-get($scales-up, lg)) {
      background-position: 33% 100%, 100% 100%;
    }

    @media (max-height: 968px * map-get($scales-up, xl)) {
      background-position: 33% 100%, 100% 100%;
    }

    @media (max-height: 968px * map-get($scales-up, 2xl)) {
      background-position: 33% 100%, 100% 100%;
    }
  }

  @include scale((
    background-size: (2472px, 122px),
  ), false);

  &__block {
    &--about {
      padding-top: spacer(4);

      @include scale((
      // padding-top: 155px,
      padding-top: 65px,
      ), false);

      @include bp-up(2xl) {
        padding-top: 155px;
      }

      @include bp-up(lg) {
        @media (max-height: 968px * map-get($scales-up, lg)) {
          padding-top: 65px *  map-get($scales-up, lg);
        }
      }

      @include bp-up(xl) {
        @media (max-height: 968px * map-get($scales-up, xl)) {
          padding-top: 65px *  map-get($scales-up, xl);
        }
      }

      @include bp-up(2xl) {
        @media (max-height: 968px * map-get($scales-up, 2xl)) {
          padding-top: 65px *  map-get($scales-up, 2xl);
        }
      }
    }

    &--windows {
      position: relative;

      display: none;

      @include bp-up(lg) {
        display: block;
      }

      @include scale((
      // padding-top: 90px,
        padding-top: 0,
      ), false);

      @include scale((
        height: 530px,
      ));

      @include bp-up(2xl) {
        padding-top: 90px;
      }

      @include bp-up(lg) {
        @media (max-height: 968px * map-get($scales-up, lg)) {
          height: 330px;
          padding-top: 0 * map-get($scales-up, lg);
        }
      }

      @include bp-up(xl) {
        @media (max-height: 968px * map-get($scales-up, xl)) {
          height: 390px * map-get($scales-up, xl);
          padding-top: 0 *  map-get($scales-up, xl);
        }
      }

      @include bp-up(2xl) {
        @media (max-height: 968px * map-get($scales-up, 2xl)) {
          height: 390px * map-get($scales-up, 2xl);
          padding-top: 0 *  map-get($scales-up, 2xl);
        }
      }

      img {
        display: block;
        margin: 0 auto;

        @include scale((
          width: 533.25px,
          height: 408px,
        ));
      }
    }

    &--download {
      margin-top: spacer(6);

      text-align: center;

      @include scale((
      // margin-top: 165px,
      margin-top: 65px,
      ), false);

      @include bp-up(2xl) {
        margin-top: 165px;
      }

      @include bp-up(lg) {
        @media (max-height: 968px * map-get($scales-up, lg)) {
          margin-top: 65px *  map-get($scales-up, lg);
        }
      }

      @include bp-up(xl) {
        @media (max-height: 968px * map-get($scales-up, xl)) {
          margin-top: 65px *  map-get($scales-up, xl);
        }
      }

      @include bp-up(2xl) {
        @media (max-height: 968px * map-get($scales-up, 2xl)) {
          margin-top: 65px *  map-get($scales-up, 2xl);
        }
      }
    }
  }

  &__window {
    display: block;

    position: absolute;

    cursor: pointer;
    transition: all .1s ease-in;
    transform: skewY(-14deg);

    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;

    &:nth-child(1) {
      $top: 136px;
      $left: 75px;
      $w: 392px;

      background-image: url('../assets/imgs/jumbotron-w-1.jpg');

      @include scale((
        top: $top,
        left: $left,
        width: $w,
        height: 210px,
        background-size: $w,
      ));

      @include bp-up(lg) {
        @media (max-height: 968px * map-get($scales-up, lg)) {
          top: $top - (100px * map-get($scales-up, lg));
        }
      }

      @include bp-up(xl) {
        @media (max-height: 968px * map-get($scales-up, xl)) {
          top: $top - (100px * map-get($scales-up, xl));
        }
      }

      @include bp-up(2xl) {
        @media (max-height: 968px * map-get($scales-up, 2xl)) {
          top: $top - (100px * map-get($scales-up, 2xl));
        }
      }

      &:hover {
        @include scale((
          top: $top + 10px,
          left: $left - 75px,
          width: $w + 75px,
        ));

        @include bp-up(lg) {
          @media (max-height: 968px * map-get($scales-up, lg)) {
            top: $top - ((100px - 10px) * map-get($scales-up, lg));
          }
        }

        @include bp-up(xl) {
          @media (max-height: 968px * map-get($scales-up, xl)) {
            top: $top - ((100px - 10px) * map-get($scales-up, xl));
          }
        }

        @include bp-up(2xl) {
          @media (max-height: 968px * map-get($scales-up, 2xl)) {
            top: $top - ((100px - 10px) * map-get($scales-up, 2xl));
          }
        }
      }
    }

    &:nth-child(2) {
      $top: 167px;
      $left: 117px;
      $w: 375px;

      background-image: url('../assets/imgs/jumbotron-w-2.jpg');

      @include scale((
        top: $top,
        left: $left,
        width: $w,
        height: 214px,
        background-size: $w,
      ));

      @include bp-up(lg) {
        @media (max-height: 968px * map-get($scales-up, lg)) {
          top: $top - (100px * map-get($scales-up, lg));
        }
      }

      @include bp-up(xl) {
        @media (max-height: 968px * map-get($scales-up, xl)) {
          top: $top - (100px * map-get($scales-up, xl));
        }
      }

      @include bp-up(2xl) {
        @media (max-height: 968px * map-get($scales-up, 2xl)) {
          top: $top - (100px * map-get($scales-up, 2xl));
        }
      }

      &:hover {
        @include scale((
          top: $top + 10px,
          left: $left - 75px,
          width: $w + 75px,
        ));

        @include bp-up(lg) {
          @media (max-height: 968px * map-get($scales-up, lg)) {
            top: $top - ((100px - 10px) * map-get($scales-up, lg));
          }
        }

        @include bp-up(xl) {
          @media (max-height: 968px * map-get($scales-up, xl)) {
            top: $top - ((100px - 10px) * map-get($scales-up, xl));
          }
        }

        @include bp-up(2xl) {
          @media (max-height: 968px * map-get($scales-up, 2xl)) {
            top: $top - ((100px - 10px) * map-get($scales-up, 2xl));
          }
        }
      }
    }

    &:nth-child(3) {
      $top: 194px;
      $left: 175px;
      $w: 383px;

      background-image: url('../assets/imgs/jumbotron-w-3.jpg');

      @include scale((
        top: $top,
        left: $left,
        width: $w,
        height: 210px,
        background-size: $w,
      ));

      @include bp-up(lg) {
        @media (max-height: 968px * map-get($scales-up, lg)) {
          top: $top - (100px * map-get($scales-up, lg));
        }
      }

      @include bp-up(xl) {
        @media (max-height: 968px * map-get($scales-up, xl)) {
          top: $top - (100px * map-get($scales-up, xl));
        }
      }

      @include bp-up(2xl) {
        @media (max-height: 968px * map-get($scales-up, 2xl)) {
          top: $top - (100px * map-get($scales-up, 2xl));
        }
      }

      &:hover {
        @include scale((
          top: $top + 10px,
          left: $left - 75px,
          width: $w + 75px,
        ));

        @include bp-up(lg) {
          @media (max-height: 968px * map-get($scales-up, lg)) {
            top: $top - ((100px - 10px) * map-get($scales-up, lg));
          }
        }

        @include bp-up(xl) {
          @media (max-height: 968px * map-get($scales-up, xl)) {
            top: $top - ((100px - 10px) * map-get($scales-up, xl));
          }
        }

        @include bp-up(2xl) {
          @media (max-height: 968px * map-get($scales-up, 2xl)) {
            top: $top - ((100px - 10px) * map-get($scales-up, 2xl));
          }
        }
      }
    }

    &:nth-child(4) {
      $top: 226px;
      $left: 236px;
      $w: 356px;

      background-image: url('../assets/imgs/jumbotron-w-4.jpg');

      @include scale((
        top: $top,
        left: $left,
        width: $w,
        height: 223px,
        background-size: $w,
      ));

      @include bp-up(lg) {
        @media (max-height: 968px * map-get($scales-up, lg)) {
          top: $top - (100px * map-get($scales-up, lg));
        }
      }

      @include bp-up(xl) {
        @media (max-height: 968px * map-get($scales-up, xl)) {
          top: $top - (100px * map-get($scales-up, xl));
        }
      }

      @include bp-up(2xl) {
        @media (max-height: 968px * map-get($scales-up, 2xl)) {
          top: $top - (100px * map-get($scales-up, 2xl));
        }
      }

      &:hover {
        @include scale((
          top: $top + 10px,
          left: $left - 75px,
          width: $w + 75px,
        ));

        @include bp-up(lg) {
          @media (max-height: 968px * map-get($scales-up, lg)) {
            top: $top - ((100px - 10px) * map-get($scales-up, lg));
          }
        }

        @include bp-up(xl) {
          @media (max-height: 968px * map-get($scales-up, xl)) {
            top: $top - ((100px - 10px) * map-get($scales-up, xl));
          }
        }

        @include bp-up(2xl) {
          @media (max-height: 968px * map-get($scales-up, 2xl)) {
            top: $top - ((100px - 10px) * map-get($scales-up, 2xl));
          }
        }
      }
    }
  }

  &__heading {
    @include scale((
      margin-bottom: 50px,
    ));

    @include scale((
      max-width: 590px,
    ), false);
  }

  &__download {
    @include scale((
      width: 350px,
      padding-top: 24px,
      padding-bottom: 24px,
      font-size: $font-size-lg,
    ));
  }

  &__features {
    margin: 0;
    padding: 0;

    list-style: none;

    li {
      position: relative;

      color: $white;

      @include scale((
        padding-left: 28px,
        font-size: $font-size-lg,
      ));

      &:before {
        position: absolute;
        left: 0;

        display: block;

        content: '';

        border-radius: 100%;
        background-color: $white;

        @include scale((
          top: 6px,
          width: 10px,
          height: 10px,
        ));
      }

      &:not(:last-child) {
        @include scale((
          margin-bottom: spacer(3),
        ));
      }
    }
  }
}
