<div class="container-fluid jumbotron">
  <header class="row">
    <div class="col-12 jumbotron__navbar">
      {% include "partials/navbar.njk" %}
    </div>

    <div class="col-12">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6 jumbotron__block jumbotron__block--about">
            <h1 class="text-white jumbotron__heading">{{ 'jumbotron.heading' | __ | capitalize }}</h1>

            <ul class="jumbotron__features">
              <li>{{ 'jumbotron.features.control' | __ | capitalize }}</li>
              <li>{{ 'jumbotron.features.vault' | __ | capitalize }}</li>
              <li>{{ 'jumbotron.features.storage' | __ | capitalize }}</li>
            </ul>
          </div>

          <div class="col-lg-6 jumbotron__block jumbotron__block--windows">
            {# <img src="assets/imgs/jumbotron-windows-placeholder.png" alt="Different windows with screenshots" class="jumbotron__windows" width="{{ 711 * 0.75 }}" height="{{ 544 * 0.75 }}"> #}

            <p class="jumbotron__window">
              <a href="#modal" data-toggle="modal" data-target="#modal" data-carousel-item="0" class="jumbotron__window-link"></a>
            </p>

            <p class="jumbotron__window">
              <a href="#modal" data-toggle="modal" data-target="#modal" data-carousel-item="1" class="jumbotron__window-link"></a>
            </p>

            <p class="jumbotron__window">
              <a href="#modal" data-toggle="modal" data-target="#modal" data-carousel-item="2" class="jumbotron__window-link"></a>
            </p>

            <p class="jumbotron__window">
              <a href="#modal" data-toggle="modal" data-target="#modal" data-carousel-item="3" class="jumbotron__window-link"></div>
            </p>
          </div>

          <p class="col-12 col-lg-6 offset-lg-6 jumbotron__block jumbotron__block--download">
            <a href="#" class="btn btn-contrast font-weight-bold jumbotron__download">{{ 'util.download' | __ | capitalize }}</a>
          </p>
        </div>
      </div>
    </div>
  </header>
</div>
