<div class="container-fluid jumbotron">
  <header class="row">
    <div class="col-12 jumbotron__navbar">
      {% include "partials/navbar.njk" %}
    </div>

    <div class="col-12">
      <div class="container">
        <div class="row">
          <div class="col-12 col-xl-6 jumbotron__block jumbotron__block--about">
            <h1 class="text-white jumbotron__heading">{{ 'jumbotron.heading' | __ | capitalize }}</h1>

            <ul class="jumbotron__features">
              <li>{{ 'jumbotron.features.control' | __ | capitalize }}</li>
              <li>{{ 'jumbotron.features.vault' | __ | capitalize }}</li>
              <li>{{ 'jumbotron.features.storage' | __ | capitalize }}</li>
            </ul>
          </div>

          <div class="col-xl-6 jumbotron__block jumbotron__block--windows">
            <img src="assets/imgs/jumbotron-windows-placeholder.png" alt="Different windows with screenshots" class="jumbotron__windows" width="{{ 711 * 0.75 }}" height="{{ 544 * 0.75 }}">
          </div>

          <p class="col-12 col-xl-6 offset-xl-6 jumbotron__block jumbotron__block--download">
            <a href="#" class="btn btn-primary font-weight-bold jumbotron__download">{{ 'util.download' | __ | capitalize }}</a>
          </p>
        </div>
      </div>
    </div>
  </header>
</div>
