<div class="container-fluid jumbotron">
  <header class="row">
    <div class="col-12 jumbotron__navbar">
      {% include "partials/navbar.njk" %}
    </div>

    <div class="col-12">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6 jumbotron__block jumbotron__block--about">
            <h1 class="text-white jumbotron__heading">{{ 'jumbotron.heading' | __ | capitalizeFirst }}</h1>

            <ul class="jumbotron__features mb-6">
              <li>{{ 'jumbotron.features.control' | __ | capitalizeFirst }}</li>
              <li>{{ 'jumbotron.features.vault' | __ | capitalizeFirst }}</li>
              <li>{{ 'jumbotron.features.storage' | __ | capitalizeFirst }}</li>
            </ul>

            <p class="mb-0 d-inline-flex">
              <span class="mr-2">
                <a class="github-button" href="https://github.com/arrayio/array-io-keychain" data-icon="octicon-star" data-show-count="true" aria-label="Star arrayio/array-io-keychain on GitHub">Star</a>
              </span>

              <span class="mr-5">
                <a class="github-button" href="https://github.com/arrayio/array-io-keychain/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork arrayio/array-io-keychain on GitHub">Fork</a>
              </span>

              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="61" height="20" class="mr-2">
                <style>
                  a #llink:hover { fill: url("#b"); stroke: #ccc; }
                  a #rlink:hover { fill: #4183c4; }
                </style>
                <lineargradient id="a" x2="0" y2="100%"><stop offset="0" stop-color="#fcfcfc" stop-opacity="0"/><stop offset="1" stop-opacity=".1"/></lineargradient>
                <lineargradient id="b" x2="0" y2="100%"><stop offset="0" stop-color="#ccc" stop-opacity=".1"/><stop offset="1" stop-opacity=".1"/></lineargradient>
                <g stroke="#d5d5d5"><rect stroke="none" fill="#fcfcfc" x=".5" y=".5" width="60" height="19" rx="2"/></g><image
                  x="5"
                  y="3"
                  width="14"
                  height="14"
                  xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMzUgMjc2Ij48cGF0aCBmaWxsPSIjNTVhY2VlIiBkPSJNMzAyIDcwQTE5NSAxOTUgMCAwIDEgMyAyNDVhMTQyIDE0MiAwIDAgMCA5Ny0zMCA3MCA3MCAwIDAgMS01OC00NyA3MCA3MCAwIDAgMCAzMS0yIDcwIDcwIDAgMCAxLTU3LTY2IDcwIDcwIDAgMCAwIDI4IDUgNzAgNzAgMCAwIDEtMTgtOTAgMTk1IDE5NSAwIDAgMCAxNDEgNzIgNjcgNjcgMCAwIDEgMTE2LTYyIDExNyAxMTcgMCAwIDAgNDMtMTcgNjUgNjUgMCAwIDEtMzEgMzggMTE3IDExNyAwIDAgMCAzOS0xMSA2NSA2NSAwIDAgMS0zMiAzNSIvPjwvc3ZnPgo="/>
                <g fill="#333" text-anchor="middle" font-family="Helvetica Neue,Helvetica,Arial,sans-serif" font-weight="700" font-size="110">
                  <text x="385" y="150" fill="#fff" transform="scale(.1)" textlength="330">Tweet</text>
                  <text x="385" y="140" transform="scale(.1)" textlength="330">Tweet</text>
                </g>
                <a target="_blank" xlink:href="//twitter.com/intent/tweet?text=A%20good,%20solid%20app%20to%20keep%20your%20keys%20safe.&url=https://keychain.array.io/&via=ProjectArray&hashtags=cybersecurity,private,cryptography,blockchain,app"><rect id="llink" stroke="#d5d5d5" fill="url(#a)" x=".5" y=".5" width="60" height="19" rx="2"/></a>
              </svg>
            </p>
          </div>

          <div class="col-lg-6 jumbotron__block jumbotron__block--windows">
            {# <img src="assets/imgs/jumbotron-windows-placeholder.png" alt="Different windows with screenshots" class="jumbotron__windows" width="{{ 711 * 0.75 }}" height="{{ 544 * 0.75 }}"> #}

            <p class="jumbotron__window">
              <a href="#modal" data-toggle="modal" data-target="#modal" data-carousel-item="0" class="jumbotron__window-link"></a>
            </p>

            <p class="jumbotron__window">
              <a href="#modal" data-toggle="modal" data-target="#modal" data-carousel-item="1" class="jumbotron__window-link"></a>
            </p>

            <p class="jumbotron__window">
              <a href="#modal" data-toggle="modal" data-target="#modal" data-carousel-item="2" class="jumbotron__window-link"></a>
            </p>

            <p class="jumbotron__window">
              <a href="#modal" data-toggle="modal" data-target="#modal" data-carousel-item="3" class="jumbotron__window-link"></div>
            </p>
          </div>

          <div class="col-12 col-lg-6 offset-lg-6 jumbotron__block jumbotron__block--download">
            <p class="mb-2">
              <a href="//github.com/arrayio/array-io-keychain/releases/download/0.26/KeyChain.Installer.0.26.zip" data-install class="btn btn-contrast font-weight-bold jumbotron__download">{{ 'util.download' | __ | capitalizeFirst }}</a>
            </p>

            <p data-install-version class="small text-muted">
              Version: macOS
            </p>
            {# <p data-install-version style="display: none" class="small text-muted">
            </p> #}

            <p data-install-fallback class="mt-2 mb-7 text-muted" style="display: none;">
              Need another version? Visit <a href="//github.com/arrayio/array-io-keychain/releases">the installation page</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
