{% set m = datasets.get('meta') %}

<!doctype html>
<html class="no-js" lang="{{ m.lang }}">

<head>
  <meta charset="{{ m.charset }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ m.title }}</title>
  <meta name="description" content="{{ m.description }}">
  <meta name="viewport" content="width=500, user-scalable=no">

  <meta property="og:title" content="{{ m.og.title }}" />
  <meta property="og:url" content="{{ m.og.url }}" />
  <meta property="og:site_name" content="{{ m.og.site_name }}" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{{ m.og.url + '/assets/imgs/kch-logo@1200x630.png' }}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:description" content="{{ m.og.descr }}" />

  <link rel="shortcut icon" href="favicon.ico">

  <link rel="stylesheet" href="css/main.css">

  {% block links %}{% endblock %}
</head>

<body id="{{ 'page-' + page if page }}" class="{{ 'page-' + page if page }}">
  <!--[if lte IE 9]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  {% block header %}
  <div class="container-fluid bg-primary">
    <div class="row">
      <div class="col-12">
        {% include "partials/navbar.njk" %}
      </div>
    </div>
  </div>
  {% endblock %}

  {% block content %} {% endblock %}

  {% block footer %}
    {% include "partials/footer.njk" %}
  {% endblock %}

  <script src="js/vendor.js" charset="utf-8"></script>
  <script src="js/main.js" charset="utf-8"></script>

</body>

</html>
