.page-home {
  &__about {
    &-text {
      line-height: 2;

      @include bp-up(lg) {
        line-height: 2.5;
      }
    }
  }

  &__features {
    $m: 33px;

    display: flex;
    flex-flow: row wrap;

    margin: -$m 0;
    padding: 0;

    list-style: none;

    @include bp-up(lg) {
      justify-content: space-between;

      margin: 0;
    }

    li {
      width: 100%;
      margin: $m 0;

      @include bp-up(md) {
        width: 50%;
      }

      @include bp-up(lg) {
        width: auto;

        margin: 0;
      }
    }
  }

  &__qualities {
    $m: 6px;

    display: flex;
    flex-flow: row wrap;

    margin: -$m 0;

    list-style: none;

    @include bp-up(lg) {
      justify-content: space-around;
      margin: -$m;
    }

    li {
      width: 100%;
      margin: $m 0;

      text-align: center;
      letter-spacing: 0.5px;

      line-height: 1.33;

      @include make-box;

      @include scale((
        padding-top: 40px,
        padding-bottom: 40px,
        padding-right: 60px,
        padding-left: 60px
      ));

      @include bp-up(lg) {
        margin: $m;
        width: calc(33% - #{$m} * 2);
      }
    }
  }

  &__feedback {
    h2 {
      padding-top: 70px;
      position: relative;

      @include scale((
        padding-top: 100px
      ), false);

      &:before {
        $color: get-hex-64($red);

        position: absolute;

        display: block;

        top: 0;
        left: 50%;
        transform: translateX(-50%);

        @include scale((
          width: 58px,
          height: 53px,
        ));

        content: '';

        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='53' height='53' viewBox='0 0 24 24'%3E%3Cpath fill='#{$color}' d='M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 50%;

        @include bp-up(lg) {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='#{53 * map-get($scales-up, lg)}' height='#{53 * map-get($scales-up, lg)}' viewBox='0 0 24 24'%3E%3Cpath fill='#{$color}' d='M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z'/%3E%3C/svg%3E");
        }

        @include bp-up(xl) {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='#{53 * map-get($scales-up, xl)}' height='#{53 * map-get($scales-up, xl)}' viewBox='0 0 24 24'%3E%3Cpath fill='#{$color}' d='M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z'/%3E%3C/svg%3E");
        }

        @include bp-up(2xl) {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='#{53 * map-get($scales-up, 2xl)}' height='#{53 * map-get($scales-up, 2xl)}' viewBox='0 0 24 24'%3E%3Cpath fill='#{$color}' d='M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z'/%3E%3C/svg%3E");
        }
      }
    }
  }

  &__carousel {
    position: relative;

    .swiper-slide {
      height: auto;

      @include bp-up(lg) {
        width: 50%;
      };
    }

    .swiper-container {
      position: static;

      overflow: visible;
    }

    .swiper-wrapper {
      padding-right: 0;
      padding-left: 0;

      @include bp-up(sm) {
        padding-right: inherit;
        padding-left: inherit;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      top: 0;

      margin-top: 0;

      width: 100px;
      height: 100%;

      background-image: none;

      &:before {
        position: absolute;
        top: 50%;
        left: 10px;

        display: block;

        width: 50px;
        height: 50px;

        content: '';
        transition: background-color .3s ease-in;
        transform: translateY(-50%);

        border-radius: 100%;
        background-color: transparent;
      }
    }

    .swiper-button-next {
      right: 0;

      background-size: 100%;

      @include bp-up(lg) {
        background-image: linear-gradient(to left, $white 50px, transparent);
      }

      &:before {
        right: 10px;
        left: auto;

        background-image: url('../assets/imgs/icon-arrow-right.png');
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: auto;
      }

      &:hover:before {
        background-color: rgba(#5dccf5, .3);
        transition: background-color .05s ease-in;
      }
    }

    .swiper-button-prev {
      left: 0;

      background-size: 100%;

      @include bp-up(lg) {
        background-image: linear-gradient(to right, $white 50px, transparent);
      }

      &:before {
        left: 10px;

        background-image: url('../assets/imgs/icon-arrow-left.png');
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: auto;
      }

      &:hover:before {
        background-color: rgba(#5dccf5, .3);
        transition: background-color .05s ease-in;
      }
    }
  }

  &__integration {
    $li-p-x: 60px;

    p {
      @include bp-up(lg) {
        line-height: 2.5;
      }
    }

    ul {
      margin-bottom: 0;

      list-style: none;

      @include bp-up(lg) {
        display: inline-flex;
        justify-content: center;

        margin: 0 #{-$li-p-x};
      }
    }

    li {
      position: relative;

      @include scale((
        padding-left: 28px,
        font-size: $font-size-lg,
      ));

      &:before {
        position: absolute;
        left: 0;

        display: block;

        content: '';

        border-radius: 100%;
        background-color: theme-color();

        @include scale((
          width: 10px,
          height: 10px,
          top: 6px,
        ));
      }

      &:not(:last-child) {
        margin-bottom: spacer(3);

        @include bp-up(lg) {
          margin-bottom: 0;
        }
      }

      @include bp-up(lg) {
        margin: 0 $li-p-x;
      }
    }
  }

  &__security {
    $li-p-x: 60px;

    p {
      @include bp-up(lg) {
        line-height: 2.5;
      }
    }

    ul {
      margin-bottom: 0;

      list-style: none;

      @include bp-up(lg) {
        display: inline-flex;
        justify-content: center;

        margin: 0 #{-$li-p-x};
      }
    }

    li {
      position: relative;

      @include scale((
        padding-left: 28px,
        font-size: $font-size-lg,
      ));

      &:before {
        position: absolute;
        left: 0;

        display: block;

        content: '';

        border-radius: 100%;
        background-color: theme-color();

        @include scale((
          width: 10px,
          height: 10px,
          top: 6px,
        ));
      }

      &:not(:last-child) {
        margin-bottom: spacer(3);

        @include bp-up(lg) {
          margin-bottom: 0;
        }
      }

      @include bp-up(lg) {
        margin: 0 $li-p-x;
      }
    }
  }
}
