.footer {
  background-image: linear-gradient(333deg, lighten(theme-color(), 5%), theme-color());

  @include scale((
    padding-top: 60px,
    padding-bottom: 60px,
  ))

  @include bp-up(lg) {
    background-image: url('../assets/imgs/footer-bg-main-part.png');
    background-repeat: no-repeat;
    background-position: 50% 100%;
  }

  @include scale((
    min-height: 610px,
    padding-top: 167px,
    padding-bottom: 159px,
    background-size: 4507px,
  ), false)

  &__heading {
    font-weight: bold;

    @include scale((
      font-size: $h3-font-size,
      margin-bottom: spacer(5),
    ))
  }

  &__block {
    @include scale((
      font-size: $font-size-lg,
    ))
  }

  &__socials,
  &__docs {
    margin-bottom: 0;
    padding: 0;

    list-style: none;

    li {
      &:not(:last-child) {
        @include scale((
          margin-bottom: spacer(2),
        ))
      }
    }
  }

  &__disclaimer {
    color: $white;

    font-style: italic;

    @include scale((
      font-size: $font-size-lg,
    ))
  }

  &__signup {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    z-index: 0;

    border: none;
    background-color: $white;

    @include scale((
      margin-bottom: spacer(3),
      padding: 5px,
      border-radius: 5px
    ))

    &-email {
      flex-grow: 2;

      border: 0;

      @include scale((
        padding-left: 15px,
        min-width: 50px
      ))

      &:invalid {
        box-shadow: none;
      }

      &::-ms-expand {
        border: 0;
        background-color: transparent;
      }

      &::placeholder {
        opacity: 1;
        color: $input-placeholder-color;
      }

      &:focus {
        outline: none;
      }
    }

    &-lining {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;

      display: block;

      width: 100%;
      height: 100%;

      border-radius: 5px;
    }

    &-email:focus ~ &-lining {
      box-shadow: 0 0 0 2px lighten(theme-color(), 10%);
    }

    &-email:invalid:not(:focus) ~ &-lining {
      box-shadow: 0 0 0 2px lighten(theme-color('danger'), 10%);
    }
  }

  &__link {
    color: $white;

    line-height: 1;

    @include scale((
      font-size: $font-size-lg,
    ))

    &:hover {
      color: rgba($white, .9);
    }

    &-text {
      vertical-align: middle;
    }

    &-icon {
      position: relative;

      display: inline-block;

      @include scale((
        width: $font-size-lg,
        height: $font-size-lg,
        margin-right: spacer(3)
      ))

      vertical-align: middle;

      svg {
        position: absolute;

        width: 100%;
        height: 100%;

        fill: $white;
      }
    }

    &:hover &-icon svg { fill: rgba($white, .9); }
  }
}
