.navbar {
  $navbar-link-p-x: spacer(2);
  $navbar-link-p-x-xl: spacer(3) + spacer(2);

  display: inline-flex;
  justify-content: space-between;

  width: 100%;

  z-index: 1;

  @include scale((
    min-height: 70px,
  ));

  &__collapse {
    position: absolute;
    top: 100%;
    left: 50%;

    width: calc(100vw - 17px);
    min-width: calc(100% + #{$grid-gutter-width * 2});
    padding: 0 ($grid-gutter-width * 2);

    background-color: darken(theme-color(), 10%);

    transform: translateX(-50%);

    @include bp-up(lg) {
      position: static;

      width: 100%;
      min-width: 0;
      padding: 0;

      transform: translateX(0);

      background-color: transparent;
    }
  }


  &__nav {
    display: inline-flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
    margin: 0 (-$navbar-link-p-x);
    padding: 0;

    list-style: none;

    color: $white;

    @include bp-up(lg) {
      flex-direction: row;
      justify-content: flex-end;
    }

    @include scale((
      margin-right: -$navbar-link-p-x-xl,
      margin-left: -$navbar-link-p-x-xl,
    ), false);

    &-item {
      height: 100%;
      width: 100%;

      @include bp-up(lg) {
        width: auto;
        height: auto;
      }
    }
  }

  &__brand {
    // display: none;

    @include bp-up(lg) {
      position: relative;
      display: inline-block;
      // left: -147px;

      // left: -85px;
    }

    // @include bp-up(xl) {
    //   left: -97px;
    // }
    //
    // @include bp-up(2xl) {
    //   left: -111px;
    // }

    img {
      @include scale((
        width: 281.25px,
        height: 108px,
      ));
    }
  }

  &__link {
    display: inline-block;

    width: 100%;
    padding: spacer(3) $navbar-link-p-x;

    text-align: center;
    text-transform: uppercase;

    color: $white;

    @include bp-up(lg) {
      width: auto;
    }

    @include scale((
      padding-left: $navbar-link-p-x-xl,
      padding-right: $navbar-link-p-x-xl,
    ), false);

    @include scale((
      font-size: $font-size-sm,
      letter-spacing: 2.8px,
    ));

    &:hover {
      color: $white;
    }

    &--active {
      font-weight: bold;
    }
  }
}
