.navbar {
  $navbar-link-p-x: spacer(2);
  $navbar-link-p-x-xl: spacer(3) + spacer(2);

  display: inline-flex;
  justify-content: center;

  width: 100%;

  @include bp-up(lg) {
    justify-content: space-between;
  }

  @include scale((
    min-height: 70px,
  ));


  &__nav {
    display: inline-flex;
    align-items: center;

    margin: 0 -$navbar-link-p-x;
    padding: 0;

    list-style: none;

    color: $white;

    @include scale((
      margin-right: -$navbar-link-p-x-xl,
      margin-left: -$navbar-link-p-x-xl,
    ), false);

    &-item {}
  }

  &__brand {
    display: none;

    @include bp-up(lg) {
      position: relative;
      display: inline-block;
      // left: -147px;

      left: -85px;
    }

    @include bp-up(xl) {
      left: -97px;
    }

    @include bp-up(2xl) {
      left: -111px;
    }

    img {
      @include scale((
        width: 281.25px,
        height: 108px,
      ));
    }
  }

  &__link {
    padding: spacer(3) $navbar-link-p-x;

    text-transform: uppercase;

    color: $white;

    @include scale((
      padding-left: $navbar-link-p-x-xl,
      padding-right: $navbar-link-p-x-xl,
    ), false);

    @include scale((
      font-size: $font-size-sm,
      letter-spacing: 2.8px,
    ));

    &:hover {
      color: $white;
    }

    &--active {
      font-weight: bold;
    }
  }
}
