.feedback {
  width: 100%;
  height: 100%;

  margin: auto;

  background-color: rgba(color('indigo'), .02);
  box-shadow: inset 27.2px 41.9px 13px 0 rgba(#503495, .02);

  @include scale((
    max-width: 500px,
    padding-top: 40px,
    padding-bottom: 40px,
    padding-left: 25px,
    padding-right: 25px,
  ));

  &:hover {
    @include make-box($x: 14.7px, $y: 22.6px, $blur: 250px);

    box-shadow: 14.7px 22.6px 250px 0 rgba(159, 40, 197, .13);
  }

  &__block {
    &--header {
      display: flex;
      flex-flow: row nowrap;

      @include scale((
        margin-bottom: spacer(5),
      ));
    }

    &--quote {
      margin-bottom: 0;
    }
  }

  &__icon {
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;

    @include scale((
      width: 77px,
      min-width: 77px,
      height: 77px,
      margin-right: 35px,
    ));

    &--icoadmin {
      background-image: url('../assets/imgs/customer-brand-icoadmin.png');
    }

    &--velvet {
      background-image: url('../assets/imgs/customer-brand-velvet.png');
    }

    &--jurry {
      background-image: url('../assets/imgs/customer-brand-jurry.png');
    }

    &--swap {
      background-image: url('../assets/imgs/customer-brand-swap.png');
    }
  }

  &__customer {
    display: inline-flex;
    flex-direction: column;

    margin-bottom: 0;

    @include scale((
      margin-top: 22px,
    ));

    &-name {
      $color: color('indigo');

      color: $color;

      font-weight: bold;

      &:hover {
        color: lighten($color, 10%);
      }
    }

    &-about {
      color: rgba(38, 50, 56, 0.5);
    }
  }

  &__quote {
    color: rgba(theme-color('light'), .7);

    @include scale((
      font-size: $font-size-lg,
    ));

    &-text {
      @include scale((
        margin-bottom: spacer(4),
      ));

      &:before {
        content: '“';
      }

      &:after {
        content: '“';
      }
    }

    &-footer {
      font-style: italic;
    }
  }
}
