{% import "blocks/feature.njk" as feature %}
{% import "lib/swiper.njk" as swiper %}

{% set page = 'home' %}

{% set features = datasets.get('features') %}

{% block header %}
  {% include "partials/jumbotron.njk" %}
{% endblock %}

{% extends "layout.njk" %}

{% block content %}
<div class="container-fluid">
  <div class="row d-flex d-lg-none">
    <a href="//array.io" class="d-block col-12 bg-secondary text-center p-4 text-dark text-lg">Mobile version of KeyChain is coming soon. <strong>Download</strong> the app on your desktop</a>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center mt-5 mt-lg-10">
    <div class="col-12 col-lg-9">
      <p class="mb-0 page-home__about-text text-lg text-justify">
        {{ 'pages.home.paragraphs.about' | __ | safe }}
      </p>
    </div>
  </div>

  <div class="row mt-5 mt-lg-10">
    <div class="col-12 mb-7 mb-lg-9">
      <h2 class="text-center font-weight-bold mb-4 mb-lg-6">{{ 'pages.home.headings.features' | __ | capitalizeFirst }}</h2>

      <ul class="page-home__features">
        {% for f in features %}
        <li>
          {{ feature.make(f) }}
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-12 mb-7 mb-lg-9">
      <h2 class="text-center font-weight-bold mb-4 mb-lg-6">
        {{ 'pages.home.headings.qualities' | __ | capitalizeFirst }}
      </h2>

      <ul class="page-home__qualities">
        {% set qualitites = [
          'pages.home.paragraphs.qualities.protocol' | __ | capitalizeFirst,
          'pages.home.paragraphs.qualities.code' | __ | capitalizeFirst,
          'pages.home.paragraphs.qualities.offer' | __ | capitalizeFirst ] %}

          {% for q in qualitites %}
          <li>
            {{ q }}
          </li>
          {% endfor %}
        </ul>
    </div>

    <div class="col-12">
      <div class="page-home__feedback">
        <h2 class="text-center font-weight-bold mb-4">
          {{ 'pages.home.headings.testimonials' | __ | capitalizeFirst }}
        </h2>

        <p class="text-center text-light mb-6">
          {{ 'pages.home.paragraphs.testimonials.question' | __ | capitalizeFirst }}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid page-home__carousel mb-7 mb-lg-9">
  {% set customers = datasets.get('partners') %}
  {% set slides = [] %}
  {% set options = { wrapper: 'container'} %}

  {% for c in customers %}

  {% macro t(c, v) %}{{ (c._key + '.' + v) | __ }}{% endmacro %}

  {% set customer %}
  <div class="feedback">
    <div class="feedback__block feedback__block--header">
      <span class="feedback__icon {{ 'feedback__icon--' + c.id }}"></span>

      <p class="feedback__customer">
        <a href="{{ c.ref }}" class="feedback__customer-name">{{ t(c, 'name') | capitalizeFirst }}</a> <span class="feedback__customer-about">{{ t(c, 'about') | capitalizeFirst }}</span>
      </p>
    </div>

    <blockquote class="feedback__block feedback__block--quote feedback__quote">
      <p class="feedback__quote-text">{{ t(c, 'feedback') | capitalizeFirst }}</p>

      <footer class="feedback__quote-footer">
        {% if t(c, 'author') != 0 %}{{ t(c, 'author') }}{% endif %}{% if t(c, 'author_job') != 0 %}, {{ t(c, 'author_job') }}{% endif %}
      </footer>
    </blockquote>
  </div>
  {% endset %}

  {{ slides | addToArray(customer) }}

  {% endfor %}

  {{ swiper.make(slides, options) }}
</div>

<div class="container">
  <div class="row">
    <div class="col-12 mb-7 mb-lg-9">
      <div class="row justify-content-center page-home__integration">

        <h2 class="col-12 text-center font-weight-bold mb-4 mb-lg-6">
          {{ 'pages.home.headings.integration' | __ | capitalizeFirst }}
        </h2>

        <p class="col-12 col-lg-11 text-lg mb-5 mb-lg-6 text-center">
          {{ 'pages.home.paragraphs.integration.for_dev' | __ | capitalizeFirst }}
        </p>

        <ul class="col-12 col-md-6 col-lg-12 mb-4 mb-lg-6">
          {% set types = [
            {
              name: 'pages.home.paragraphs.integration.doc_types.installation' | __ | capitalizeFirst,
              ref: '//github.com/arrayio/array-io-keychain/wiki#installation-guides'
            },
            {
              name: 'pages.home.paragraphs.integration.doc_types.websocket' | __ | capitalizeFirst,
              ref: '//github.com/arrayio/array-io-keychain/wiki/WebSocket-API'
            },
            {
              name: 'pages.home.paragraphs.integration.doc_types.pipe' | __ | capitalizeFirst,
              ref: '//github.com/arrayio/array-io-keychain/wiki/Pipe-API'
            }
            ] %}

            {% for type in types %}
              <li>
                <a href="{{ type.ref }}">{{ type.name }}</a>
              </li>
            {% endfor %}
        </ul>

        <p class="col-12 col-md-6 col-lg-12 text-center mb-0">
          <a href="#" class="btn btn-lg btn-contrast text-lg">{{ 'util.more' | __ | capitalizeFirst }}</a>
        </p>
      </div>
    </div>

  </div>
</div>
{% endblock %}
